[submodule "HatchitCore"]
	path = HatchitCore
	url = https://github.com/thirddegree/HatchitCore
[submodule "HatchitTest"]
	path = HatchitTest
	url = https://github.com/thirddegree/HatchitTest
[submodule "HatchitDoxygen"]
	path = HatchitDoxygen
	url = https://github.com/thirddegree/HatchitDoxygen.git
[submodule "ThirdParty/inih"]
	path = ThirdParty/inih
	url = https://github.com/benhoyt/inih.git
[submodule "HatchitResource"]
	path = HatchitResource
	url = https://github.com/thirddegree/HatchitResource.git
