[submodule "HatchitCore"]
	path = HatchitCore
	url = https://github.com/thirddegree/HatchitCore
[submodule "HatchitTest"]
	path = HatchitTest
	url = https://github.com/thirddegree/HatchitTest
[submodule "HatchitDoxygen"]
	path = HatchitDoxygen
	url = https://github.com/thirddegree/HatchitDoxygen.git
[submodule "ThirdParty/inih"]
	path = ThirdParty/inih
	url = https://github.com/benhoyt/inih.git
[submodule "HatchitResource"]
	path = HatchitResource
	url = https://github.com/thirddegree/HatchitResource.git
[submodule "HatchitScript"]
	path = HatchitScript
	url = https://github.com/thirddegree/HatchitScript.git
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ThirdParty/SDL2"]
	path = ThirdParty/SDL2
	url = https://github.com/thirddegree/SDL2.git
[submodule "ThirdParty/tinyxml2"]
	path = ThirdParty/tinyxml2
	url = https://github.com/thirddegree/tinyxml2.git
[submodule "HatchitGame"]
	path = HatchitGame
	url = https://github.com/thirddegree/HatchitGame.git
[submodule "HatchitMath"]
	path = HatchitMath
	url = https://github.com/thirddegree/HatchitMath.git
[submodule "HatchitGraphics"]
	path = HatchitGraphics
	url = https://github.com/thirddegree/HatchitGraphics.git
[submodule "ThirdParty/glew"]
	path = ThirdParty/glew
	url = https://github.com/thirddegree/glew.git
[submodule "HatchitImage"]
	path = HatchitImage
	url = https://github.com/thirddegree/HatchitImage.git
[submodule "ThirdParty/libsndfile"]
	path = ThirdParty/libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "ThirdParty/openal-soft"]
	path = ThirdParty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "ThirdParty/bullet3"]
	path = ThirdParty/bullet3
	url = https://github.com/thirddegree/bullet3.git
[submodule "ThirdParty/Python"]
	path = ThirdParty/Python
	url = https://github.com/thirddegree/Python.git
